<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color_puzzle.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3C41D77CDE155D1C60A2A5A78038F29D596B4643</string>
				<key>dateExpires</key>
				<string>03.02.25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C41D77CDE155D1C60A2A5A78038F29D596B4643</string>
						<key>dateExpires</key>
						<string>03.02.25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67AYJ24F97</string>
						<key>name</key>
						<string>Theo Kramer</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C41D77CDE155D1C60A2A5A78038F29D596B4643</string>
						<key>dateExpires</key>
						<string>03.02.25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67AYJ24F97</string>
						<key>name</key>
						<string>Theo Kramer</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3C41D77CDE155D1C60A2A5A78038F29D596B4643</string>
						<key>dateExpires</key>
						<string>03.02.25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67AYJ24F97</string>
						<key>name</key>
						<string>Theo Kramer</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>67AYJ24F97.com.example.colorPuzzle</string>
				<key>com.apple.developer.team-identifier</key>
				<string>67AYJ24F97</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3e04d00c-3695-4bf4-9a87-940d1469a2b2</string>
				<key>dateExpires</key>
				<string>03.02.25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.colorPuzzle</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>67AYJ24F97</string>
				<key>name</key>
				<string>Theo Kramer</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
